/* pages/signup.css */

/* Side-by-side layout */
.signup-container{
    min-height: 100%;
}

.form-container {
    padding-right: 485px;
    padding-left: 400px;
    padding-top: 200px;
}

.image-container {
    flex: 1;
}

/* Additional styles for the form */
.signup-padding {
    max-width: 400px; /* Set a maximum width for the form */
}

.sign-up-image{
    min-height: 100%;
}


